.redStripe {
    height: 2px;
    background-color: #BF213E;
}

.gap1 {
    height: 2px;
    background-color: #212529;
}

.orangeStripe {
    height: 2px;
    background-color: #F23827;
}

.gap2 {
    height: 2px;
    background-color: #212529;
}

.yellowStripe {
    height: 2px;
    background-color: #D96A29;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}

.navbar-brand {
    font-family: "quasimoda", sans-serif;
    font-weight: 600;
    font-style: italic;
}

#navbarNav {
    font-family: "quasimoda", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.about-us-home {
    font-family: "quasimoda", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: white;
}

.font {
    font-family: "quasimoda", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: white;
}

.form-check-input { 
    outline: none;
}

.btn-primary {
    background-color: #BF213E;
    outline: none;
    border: none;
}

.btn-primary:hover {
    background-color: #BF213E;
    outline: none;
    border: none;
}

.btn-primary:focus {
    background-color: #BF213E;
    outline: none;
    border: none;
}

.btn-primary:active {
    background-color: #BF213E;
    outline: none;
    border: none;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 77%;
    position: relative;
    height: 0;

}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* MAP RESPONSIVE CSS TAKEN FROM https://blog.duda.co/responsive-google-maps-for-your-website */

footer {
    background-color: #212529;
    text-decoration: none;
}

.footer-items {
    color: inherit;
    text-decoration: none;
}

.footer-itemsk:hover {
    color: inherit;
    text-decoration: none;
}

.footer-items:visited {
    color: inherit;
    text-decoration: none;
}

.footer-items:active {
    color: inherit;
    text-decoration: none;
}
