.redStripe {
    height: 2px;
    background-color: #BF213E;
}

.gap1 {
    height: 2px;
    background-color: #212529;
}

.orangeStripe {
    height: 2px;
    background-color: #F23827;
}

.gap2 {
    height: 2px;
    background-color: #212529;
}

.yellowStripe {
    height: 2px;
    background-color: #D96A29;
}

