.redStripe {
    height: 2px;
    background-color: #BF213E;
}

.gap1 {
    height: 2px;
    background-color: #212529;
}

.orangeStripe {
    height: 2px;
    background-color: #F23827;
}

.gap2 {
    height: 2px;
    background-color: #212529;
}

.yellowStripe {
    height: 2px;
    background-color: #D96A29;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}

.navbar-brand {
    font-family: "quasimoda", sans-serif;
    font-weight: 600;
    font-style: italic;
}

#navbarNav {
    font-family: "quasimoda", sans-serif;
    font-weight: 600;
    font-style: italic;
}